/** Default **/
body {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

/** Name and Tagline **/

#nameAndTagline {
    margin-top: 15px;
}

#name {
    font-size: 8em;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#tagline {
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 0.5em;
}

/** Navbar **/
nav {
    background-color: white;
}

#entire-navbar {
    border-top: 1px solid rgba(0, 0, 0, 0.589);
    border-bottom: 1px solid rgba(0, 0, 0, 0.589);
    font-size: 0.9em;
    margin-top: 25px;
}

.nav-item {
    margin-right: 40px;
    margin-left: 40px;
}

form {
    width: 150px;
}

form input {
    width: 150px;
    color: black !important;
}

.fa {
    color: black;
    text-decoration: none;
    width: 25px;
    text-align: center;
    margin-top: 4px;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: #52cac4 !important;
}

.active {
    color: #52cac4 !important;
}

.nav-item ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/** Toggler **/

#toggler-div {
    height: 75px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

#toggler-span {
    margin-top: 35px;
    margin-left: 35px;
    float: left;
}

#toggler-name {
    font-size: 2.7em;
    font-family: 'Playfair Display', serif;
    float: left;
    padding-top: 5px;
    width: 86%;
}

/** Footer **/

#entire-footer {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

#title-footer {
    padding: 40px;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bolder;
    color: black;
}

#input-fields input[type="text"], input[type="text"]:focus {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

#input-fields input[type="text"]:focus {
    border-bottom: 2px solid black;
}

#input-fields ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-size: 14px;
}

#names-field {
    width: 84%;
    margin-right: auto;
    margin-left: auto;
}

#name-only {
    width: 90% !important;
}

button[type="submit"] {
    border-color: #a8edea;
    border-radius: 1.3em;
    background: linear-gradient(to top, #FFE6E9 0%, #D9A3A9 100%);
    width: 130px;
    height: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    font-size: 14px;
}

button[type="submit"]:hover {
    background: black;
    color: white;
}

#end-footer {
    font-size: 14px;
    color: black;
    background-color: #fed6e3;
}

/* Scrolling arrow */
#back2Top {
    position: fixed; 
    bottom: 30px; 
    right: 40px; 
    z-index: 99; 
    border: none; 
    background-color: #a8edea;
    cursor: pointer; 
    font-size: 18px; 
  }

  #back2Top .fa {
      color: #000000;
  }
  
  #back2Top:hover {
    background-color: #000000;
  }

  #back2Top:hover .fa {
      color: #ffffff;
  }

/** Blog List **/

#blog-list {
    margin-bottom: 60px;
}

#blog-list-title, #about-title {
    padding: 40px 0 40px 0;
    letter-spacing: 0.5em;
    font-size: 1.5em;
}

.card {
    width: 50%;
    margin-bottom: 40px;
    border: 1px solid rgba(0, 0, 0, 0.589) !important;
    border-radius: 5px !important;
}

.card:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
}

.card-image {
    min-width: 100% !important;
    min-height: 100% !important;
}

#blog-list-button {
    border-color: white;
    border-radius: 1.3em;
    background: linear-gradient(to top, #FFE6E9 0%, #D9A3A9 100%);
    width: 130px;
    height: auto;
    margin-top: 25px;
    font-size: 14px;
}

#blog-list-button:hover {
    background: black;
}

#blog-date {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

#blog-headline a, #blog-text a {
    text-decoration: none;
    color: #000000;
}

#blog-headline a:hover, #blog-text a:hover {
    text-decoration: none;
    color: #FF69B4;
}

#blog-headline {
    margin-bottom: 18px;
    font-family: 'Playfair Display', serif;
}

#blog-text {
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.767);
}

#more-posts {
    text-decoration: none;
    color: #000000;
}

#blog-list-button:hover  a{
    color: white;
}

/** About Page **/
#about-content {
    width: 70%;
    background-color: #FFE6E9;
    margin-left: 5%;
    padding: 5%;
}

#about-pic {
    width: 22%;
    height: 60%;
    position: absolute;
    left: 72%;
    top: 20%;
}

#entire-about {
    margin-bottom: 65px;
}

.about-description {
    line-height: 2em;
    color: #000000;
}

#about-1 {
    margin-bottom: 5% !important;
}

/* Blog post */
.all-posts {
    margin-top: 4%;
    margin-left: 10%;
}

.all-posts a {
    text-decoration: none;
    color: #000000;
}

.all-posts a:hover {
    color: #52cac4 !important;
}

.blog-post {
    border: 1px solid #000000;
    width: 80% !important;
    padding: 2% 5% 3% 5% !important;
    margin: 4% auto 5% auto !important;
}

.post-headline {
    font-family: 'Playfair Display', serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

.post-img {
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}

.author-name {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Playfair Display', serif;
    font-size: 1.3em;
    font-weight: bold;
}

.para {
    font-size: 1.1em;
    margin-bottom: 3%;
    line-height: 1.7em;
}

/* Birthday Greetings */
#birthday-greeting {
    background-image: linear-gradient(to top, #ff69b4 0%, #7beadf 100%);
}

#birthday-greeting h1, #birthday-greeting h2 {
    font-family: 'Playfair Display', serif;
}

.attribution a {
    text-decoration: none;
    font-size: 0.5em;
}

.attribution {
    width: 150px;
    margin: 0 auto;
}

#wish-title {
    font-size: 3em;
    text-align: center;
    padding: 5% 5% 0 5%;
}

.wish-img-1 {
    width: 50% !important;
    margin-left: 25% !important;
}

/* Media Queries begin */

/* For x-small, small, medium devices */
@media (max-width: 991px) {

    /* Header */
    #name {
        font-size: 3em;
    }

    #tagline {
        font-size: 1.3em;
        padding: 15px 0 15px 0;
    }

    /* About */
    #about-pic {
        width: 80%;
        position: relative;
        left: 0;
        top: 0;
        margin: 5% auto !important;
    }

    #about-content {
        width: 80%;
        background-color: #FFE6E9;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
    }
}

@media (max-width: 767px) {
    .card {
        width: 95%;
    }
}

@media (min-width: 321px) and (max-width: 573px) {
    #toggler-name {
        width: 77%;
        font-size: 2em;
        padding-top: 10px;
    }

    #toggler-span {
        margin-top: 25px;
        margin-left: 20px;
        float: left;
    }

    #wish-title {
        font-size: 1.5em;
    }
}

@media (min-width: 574px) and (max-width: 625px) {
    #toggler-name {
        width: 77%;
    }
}

@media (min-width: 626px) and (max-width: 800px) {
    #toggler-name {
        width: 82%;
    }
}

@media (max-width: 320px) {
    #toggler-name {
        width: 80%;
        font-size: 1.8em;
        padding-top: 10px;
    }
    
    #toggler-span {
        margin-top: 24px;
        margin-left: 10px;
        float: left;
    }

         /* Greeting */
        #wish-title {
            font-size: 1em;
        }
}